{% extends "base.html" %}

{%block titulo%}Atualizar Equipamento{%endblock%}

{%block conteudo%}
    <h1 class="titulo_eq">Atualizar Equipamento</h1>

    {% if erro %}
    <div class="alert">{{ erro }}</div>
    {% endif %}

    <form action="{{ url_for('atualizar') }}" method="POST">
    <label for="campo">Campo:</label>
        <select id="campo" name="campo" required>
            <option value="Nome">Nome</option>
            <option value="Tipo">Tipo</option>
            <option value="Marca">Marca</option>
            <option value="Modelo">Modelo</option>
            <option value="Data de Aquisição">Data de Aquisição</option>
            <option value="Status">Status</option>
            <option value="funcionario_id">ID Funcionário</option>
        </select>

        <label for="equipamento_id">ID do Equipamento:</label>
        <input type="number" id="equipamento_id" name="equipamento_id" required>

        <label for="novo_valor">Novo Valor:</label>
        <input type="text" id="novo_valor_input" style="display: block;" required>
        <select id="novo_valor_select" style="display: none;" required>
            <option value="Em uso">Em uso</option>
            <option value="Em manutenção">Em manutenção</option>
            <option value="Disponível">Disponível</option>
        </select>

        <button type="submit" class="btn">Salvar</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>

        <script>
            const campoSelect = document.getElementById('campo');
            const input = document.getElementById('novo_valor_input');
            const select = document.getElementById('novo_valor_select');

            campoSelect.addEventListener('change', function () {
                const campo = this.value;

                // Reset ambos
                input.removeAttribute('name');
                select.removeAttribute('name');
                input.removeAttribute('required');
                select.removeAttribute('required');

                if (campo === 'Status') {
                    input.style.display = 'none';
                    select.style.display = 'block';
                    select.setAttribute('name', 'novo_valor');
                    select.setAttribute('required', 'required');
                } else {
                    select.style.display = 'none';
                    input.style.display = 'block';
                    input.setAttribute('name', 'novo_valor');
                    input.setAttribute('required', 'required');

                    if (campo === 'Data de Aquisição') {
                        input.type = 'date';
                    } else if (campo === 'funcionario_id') {
                        input.type = 'number';
                    } else {
                        input.type = 'text';
                    }
                }
            });
        </script>

{% endblock %}
