{% extends "base.html"%}

{% block titulo %} Lista de Funcionários {% endblock %}

{% block conteudo %}
    <h1 class="titulo_eq">Funcionários Cadastrados</h1>
    {% if funcionarios %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Departamento</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for f in funcionarios %}
                <tr>
                    <td>{{ f.id }}</td>
                    <td>{{ f.nome }}</td>
                    <td>{{ f.departamento }}</td>
                    <td>{{ f.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class ="alert">Nenhum funcionario cadastrado!</div>
        {% endif %}
    <div class="botoes">
        {% if usuario_logado %}
            <a href="{{ url_for('cadastrar_funcionario') }}" class="botao_cadastrar">Cadastrar Funcionário</a>
        {% endif %}
        <a href="{{ url_for('index') }}" class="voltar">Voltar</a>
    </div>
{% endblock %}