{% extends "base.html"%}

{% block titulo %} Lista de Equipamentos {% endblock %}

{% block conteudo %}
        <h1 class="titulo_eq">Adicionar Novo Equipamento</h1>

        <form action="{{ url_for('inserir') }}" method="POST">
            <label for="nome">Nome do Equipamento:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="tipo">Tipo:</label>
            <input type="text" id="tipo" name="tipo" required>

            <label for="marca">Marca:</label>
            <input type="text" id="marca" name="marca" required>

            <label for="modelo">Modelo:</label>
            <input type="text" id="modelo" name="modelo" required>

            <label for="data_aquisicao">Data de Aquisição:</label>
            <input type="date" id="data_aquisicao" name="data_aquisicao" required>

            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="Em uso">Em uso</option>
                <option value="Disponível">Disponível</option>
                <option value="Em manutenção">Em manutenção</option>
            </select>

            <label for="funcionario_id">Funcionário Responsável (Opcional):</label>
            <input type="number" id="funcionario_id" name="funcionario_id">

            <button type="submit" class="btn">Salvar</button>
        </form>
        <a href="{{ url_for('index') }}" class="btn btn-secondary">Voltar</a>
{% endblock %}